@model CV

<h4>My Competences</h4>
    <div class="Competencesdiv d-flex flex-sm-wrap mb-2 mt-1">
        
        @if (Model.Competences != null)
        {

            @foreach (var competence in Model.Competences)
            {
            <div class="competencediv">
                <form asp-controller="Competences" asp-action="Delete" asp-route-id=@competence.Id method="post">
            
                <label class="lblcompetences">
                    @competence.Name
                      <input type="hidden" asp-for=@competence.Id/>
                        <button class ="btnDeleteCompetence" type="submit">
                            <span class="material-symbols-outlined msocomp">
                                close
                            </span>
                        </button>
                        
                        
                    
                </label>
            </form>
            </div>
                

            }

        }
    
    </div>






