@model CvViewModel
<div class="detaildiv">
    <h4>Educations</h4>
    @foreach (var education in Model.Educations)
    {

        <div class="eduDiv d-flex align-items-center">
            <div class="">
                <label class="lbledu">University: @education.University</label> <br />
                <label class="lbledu">Orientation: @education.Orientation</label> <br />
                <label class="lbledu">Period: @education.StartYear - @education.EndYear</label> <br />
            </div>
            </div>
    }
 </div>