@model IEnumerable<CVproject.Models.Message>

@{
    ViewData["Title"] = "Messages";
}

<h1>Messages</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
            @if(item.IsRead)
            {
                 <td>
                    <p>Read</p>
                 </td>
            }
        </tr>
}
    </tbody>
</table>
